---
layout: page
title: 关于
header: about me
group: navigation
index: 5 
---
{% include JB/setup %}
<div>
  <h2>
    关于
  </h2>
  <p class="about">
    程序员的技术博客，记录＆分享。 
  </p>
  <h2>
    联系我 
  </h2>
  <table class="table table-striped" id="about-me">
    <tbody>
      <tr>
        <td class="span3"><i class="icon-github"> </i><span>我的github</span></td>
        <td><a href="https://github.com/daemon369">Daemon · GitHub</a></td>
      </tr>
      <tr>
        <td class="span3"><i class="icon-envelope"></i> <span>我的邮箱</span></td>
        <td><a href="mailto:daemon336699@gmail.com">Daemon · Gmail</a> </td>
      </tr>
      <tr>
        <td class="span3"><i class="icon-book"></i> <span>我的博客</span></td>
        <td><a href="http://www.cnblogs.com/daemon369/">Daemon · cnBlogs</a> </td>
      </tr>
    </tbody>
  </table>
</div>
<br />
<br />
<br />
<div id="comment-hook"></div>
{% include JB/comments %}
