---
layout: page
title: 关于
header: about me
group: navigation
index: 5 
---
{% include JB/setup %}
<div>
  <h2>
    关于
  </h2>
  <p class="about">
    程序员的技术博客，记录＆分享。<br/>
  </p>
  <p class="about">
    RTFSC&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--Linus Benedict Torvalds
  </p>
  <h2>
    感兴趣的技术
  </h2>
  <table class="table table-striped" id="">
    <tbody>
      <tr>
        <td class="span3" align="center" rowspan="3" >C&C++</td>
        <td class="span3"><a href="http://zh.wikipedia.org/wiki/C%E8%AF%AD%E8%A8%80">C语言</a></td>
      </tr>
      <tr>
        <td class="span3"><a href="http://gcc.gnu.org/">GCC</a></td>
      </tr>
      <tr>
        <td class="span3"><a href="http://www.stroustrup.com/">Bjarne Stroustrup's homepage</a></td>
      </tr>
      <tr>
        <td class="span3">Linux</td>
        <td class="span3"><a href="https://www.kernel.org/">The Linux Kernel Archives</a></td>
      </tr>
      <tr>
        <td class="span3">Android</td>
        <td class="span3"><a href="http://developer.android.com/index.html">Android Developer Page</a></td>
      </tr>
    </tbody>
  </table>
  <h2>
    联系我 
  </h2>
  <table class="table table-striped" id="about-me">
    <tbody>
      <tr>
        <td class="span3"><i class="icon-github"> </i><span>我的github</span></td>
        <td><a href="https://github.com/daemon369">Daemon · GitHub</a></td>
      </tr>
      <tr>
        <td class="span3"><i class="icon-envelope"></i> <span>我的邮箱</span></td>
        <td><a href="mailto:daemon336699@gmail.com">Daemon · Gmail</a> </td>
      </tr>
      <tr>
        <td class="span3"><i class="icon-book"></i> <span>我的博客</span></td>
        <td><a href="http://www.cnblogs.com/daemon369/">Daemon · cnBlogs</a> </td>
      </tr>
    </tbody>
  </table>
</div>
<br />
<br />
<br />
<div id="comment-hook"></div>
{% include JB/comments %}
