<!DOCTYPE html>
<html lang="cn">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/typo.css" rel="stylesheet">
    <link href="/css/solarized.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/datatables-bootstrap.css" rel="stylesheet">
    <link href="/css/daemon.css" rel="stylesheet">

    <!-- javascript files -->
    <script type="text/javascript" src="/js/jquery-2.0.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/js/datatables-bootstrap.js"></script>
    <script type="text/javascript" src="/js/daemon.js"></script>

    <!-- Le fav and touch icons -->
    <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

    <script type="text/javascript">
    </script>

  </head>

  <script type="text/javascript">
    function setTimeSpan(){
    	var date = new Date();
    	timeSpan.innerText=date.format('yyyy-MM-dd hh:mm:ss');
    }
    
    Date.prototype.format = function(format)
		{
    var o =
    	{
    	    "M+" : this.getMonth()+1, //month
    	    "d+" : this.getDate(),    //day
    	    "h+" : this.getHours(),   //hour
    	    "m+" : this.getMinutes(), //minute
    	    "s+" : this.getSeconds(), //second
    	    "q+" : Math.floor((this.getMonth()+3)/3),  //quarter
    	    "S" : this.getMilliseconds() //millisecond
    	}
    	if(/(y+)/.test(format))
    	format=format.replace(RegExp.$1,(this.getFullYear()+"").substr(4 - RegExp.$1.length));
    	for(var k in o)
    	if(new RegExp("("+ k +")").test(format))
    	format = format.replace(RegExp.$1,RegExp.$1.length==1 ? o[k] : ("00"+ o[k]).substr((""+ o[k]).length));
    	return format;
		}
  </script>

  <body id="scroll-pane" data-spy="scroll" data-target="#time-list-nav" onLoad="setInterval(setTimeSpan,1000);">
    <div class="wrapper">
      <!-- 导航条 -->
      <div class="nav navbar-nav" id="nav-wrap">
        <div class="navbar-header">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            <a class="navbar-brand" href="{{ HOME_PATH }}">
              <span class="site-author"> {{ site.author.name }} </span>
              <span class="site-title"> /* {{ site.title }} */ </span>
            </a>
            <ul id="nav-menu" class="nav navbar-nav">
              {% assign pages_list = site.pages %}
              {% assign group = 'navigation' %}
              {% include JB/navigation_list %}
            </ul>
          </div>
          <div class="col-md-2">
          </div>
        </div>
      </div>

      <!-- 正文 -->
      {{ content }}

    </div>
    <!-- 底部声明 -->
    <div class="row bottom">
      <div class="col-md-2">
      </div>
      <div class="col-md-8 text-center">
        &mdash;&nbsp;&nbsp;我的个人空间 | <span class="label label-info" id="timeSpan"></span>&nbsp;&nbsp;&mdash;
      </div>
      <div class="col-md-2">
      </div>
    </div>

    {% include JB/analytics %}
    {% include JB/share/baidu-share %}
  </body>
</html>
