<div class="row post-full typo">
  <div class="col-md-2"></div>
  <div class="col-md-8 typo">
    <h2>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h2>
    <div class="post_info">
      {% unless page.categories == empty %}
      <ul id="post_info" class="tag_box inline">
        <li><i class="fa fa-calendar"></i></li>
        <li>{{ page.date | date: " %Y 年 %m 月 %d 日" }}</li>
        <li><i class="fa fa-folder-open"></i></li>
        {% assign post_categories = page.categories %}
        {% include JB/post_categories_info %}
      </ul>
      {% endunless %}
    </div>
    <div class="content">
      {{ content }}
    </div>

    {% unless page.tags == empty %}
    <ul id="tag_info" class="tag_box inline">
      <li><i class="fa fa-tags"></i></li>
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
    </ul>
    {% endunless %}

    <!-- 将此标记放置在你希望显示+1 按钮的位置。 -->
    <div class="g-plusone" data-annotation="inline" data-width="300"></div>

    <!-- 将此标记放置在最后一个 +1 按钮 标记之后。 -->
    <script type="text/javascript">
    window.___gcfg = {lang: 'zh-CN'};

    (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
    </script>

    <hr>
      <ul class="pagination pull-right">
        {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
        {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
        {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
        {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
        {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
        {% endif %}
      </ul>
    <br />
    <div id="comment-hook"></div>
    {% include JB/comments %}
  </div>
  <div class="col-md-2"></div>
</div>
